* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.choice {
    height: 23vmin;
    width: 23vmin;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 22vmin;
    width: 22vmin;
    object-fit: cover;
    border-radius: 50%;
}

.choice:hover {
    background-color: #081b31;
    cursor: pointer;
}

.scoreBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    gap: 2rem;
    margin-top: 2rem;
}

.msgContainer {
    margin-top: 5rem;

}

.msg {
    font-size: 1.6rem;
    background-color: #081b31;
    color: #fff;
    padding: 0.8rem;
    display: inline;
    border-radius: 1rem;
}